# For inputting Materials into a list, or anything else in here
#  it must be how minecraft reads it, which is all caps and
#  spaced with an underscore; EG: 'NETHERITE_INGOT'
#  for a list of materials, head here and look under 'Enum Constants':
#    https://hub.spigotmc.org/javadocs/bukkit/org/bukkit/Material.html - Note: use ctrl+f to search, not the search bar

# Traditional color codes supported for string values, and Hex.
#  EG: &cHi! <#5C040F>Hey!

# Enable debug messages?
#  WARNING: WILL cause spam in console! this is
#   a development option, put here for ease of development.
Debug: false

UpdateCheck:
  # Should the plugin notify OPs/Players with the plugins admin perm
  #  when a new update is available when they join/reload the plugin?
  MessageOnJoin: true
  MessageOnReload: true

# true - Disable the dumb vanilla way of crafting netherite items
# false - Enable the dumb vanmilla way of crafting netherite items
# This disables the 'upgrading' of diamond items to netherite using the smithing table
#   Instead, it makes it to where they must craft the items in the traditional way;
#   eg how you'd craft a diamond item, but with netherite ingots
NetheriteCrafting: false

NetheriteShrines:
  # Item types that can be used on the Shrines.
  # Note: MUST be in all caps like below, and it must be a valid Material.
  UsableItems:
    - NETHERITE_SWORD
    - NETHERITE_AXE
    - NETHERITE_SHOVEL
    - NETHERITE_PICKAXE
    - NETHERITE_HOE
    - NETHERITE_HELMET
    - NETHERITE_CHESTPLATE
    - NETHERITE_LEGGINGS
    - NETHERITE_BOOTS
  # Should the 'Netherite Shrines' be enabled?
  #  Shrines have a specific way they must be built.
  #  Shrines have 8 charges, you must recharge them using
  #  The defined block on the chains.
  #  If it runs out of Charges, the Shrine will explode.
  CrimsonShrine:
    # Should the Crimson Netherite Shrine be enabled?
    #  This shrine will reinforce netherite items.
    Enabled: true
    ReinforcedItems:
      # The chance of a reinforced item losing durability
      DurabilityLossChance: 20
      # The chance of a reinforced item dealing extra damage
      ExtraDamageChance: 60
      # The amount of bonus damage
      DamageIncrease: 3
  WarpedShrine:
    # Should the Warped Netherite Shrine be enabled?
    #  This shrine will replenish durability of
    #  Netherite items.
    Enabled: true
  PrismarineShrine:
    # Should the Prismarine Netherite Shrine be enabled?
    #  This shrine will grant 5 potion effects.
    #  each effect has a chance of not applying.
    Enabled: true

ImprovedUpgrading:
  # Wanna keep the upgrade system but don't like how it works?
  #   This will make the upgrade system better and improve it
  #   And make it more customizable
  Enabled: true
  UpgradeRecipes:
    WoodToStone:
      # Should upgrading from Wood > Stone be enabled?
      Enabled: true
      # Define how much stone is needed to upgrade from Wood > Stone items
      MaterialAmount: 2
    StoneToIron:
      # Should upgrading from Stone > Iron be enabled?
      Enabled: true
      # Define how much stone is needed to upgrade from Stone > Iron items
      MaterialAmount: 2
    IronToGold:
      # Should upgrading from Iron > Gold be enabled?
      Enabled: true
      # Define how much stone is needed to upgrade from Iron > Gold items
      MaterialAmount: 2
    IronToDiamond:
      # Should upgrading from Iron > Diamond be enabled?
      Enabled: true
      # Define how much stone is needed to upgrade from Iron > Diamond items
      MaterialAmount: 2
    DiamondToNetherite:
      # Should upgrading from Diamond > Netherite be enabled?
      Enabled: true
      # Define how much stone is needed to upgrade from Diamond > Netherite items
      MaterialAmount: 2

NetheriteFishing:
  # Should you be able to fish netherite items as treasure?
  Enabled: true
  # Define items to add to the treasure table
  #  Format: ITEM;MAX;CHANCE
  Loot:
    - NETHERITE_SCRAP;2;3
    - NETHERITE_INGOT;1;1
    - NETHERITE_HOE;1;1

CustomMobs:
  # The max amount of mobs total that can be spawned in
  #  It accounts for LOADED mobs, so mobs in loaded chunks
  #  so, for instance, if a chunk is unloaded with 5 mobs in it,
  #   those 5 will not account towards the mob cap
  #    unless that chunk is loaded again.
  MobCap: 100
  # Should the Netherite Marauder custom mob be enabled?
  #  this mob only spawns in the nether, its slow, but does a big
  #   amount of damage, and has a lot of HP.
  #  They also have a chance of spawning riding a Skeleton horse.
  NetheriteMarauder:
    Enabled: true
    SpawnChance: 5
  # Should the Netherite Marauder Brute custom mob be enabled?
  #  this mob only spawns in the nether, its a tad faster than its brother, but does a big
  #   amount of damage, and has a tad more HP than its brother.
  #   they have a chance of inflicting Wither, and Blindness when they damage you.
  #  They also have a chance of spawning riding a Zombie horse.
  NetheriteMarauderBrute:
    Enabled: true
    SpawnChance: 3
  # Should the Hellhound be enabled?
  #  this mob only spawns in the nether, its slower than a normal wolf, and does
  #   around the same damage, but it's always angry and has more HP.
  #   they have a chance of inflicting Wither when they damage you.
  Hellhound:
    Enabled: true
    SpawnChance: 3
  # Should the Alpha Hellhound be enabled?
  #  this mob only spawns in the nether, its a tad faster than its brother, and does
  #   around the same damage, but it's always angry and has a bit more HP.
  #   they have a chance of inflicting Wither and Poison when they damage you.
  AlphaHellhound:
    Enabled: true
    SpawnChance: 2
  # Should the Lost Soul be enabled?
  #  this mob only spawns in the nether, it can fly, and is fast.
  #  it can do a lot of damage, and pass through walls. It has a small amount
  #  of HP.
  #   It has a chance of inflicting Blindness, Poison and Wither when they damage you.
  LostSoul:
    Enabled: true
    SpawnChance: 2
  # Should the Zombified Demon be enabled?
  #  this mob can spawn in the Overworld, it's slow, but can do a lot of
  #   damage.
  #  it has a chance of inflicting Hunger and Poison when they damage you.
  ZombifiedDemon:
    Enabled: true
    SpawnChance: 2
  # Should the Tank be enabled?
  #  this mob can spawn in any dimension, it is very slow but deadly.
  #  it's blade laced with poison.
  Tank:
    Enabled: true
    SpawnChance: 1

# To better balance it, and make getting netherite scrap easier and better, to make up for the new difficulty if the above is true
AncientDebris:
  # Should ancient debris give more scrap upon smelting it?
  BetterSmelting:
    # true - The plugins smelting with the custom things defined below
    # false - Vanilla smelting, without the things below
    Enabled: true
    # If so, how much should it give?
    Amount: 4
    BlastFurnace:
      # How much EXP should be earned from smelting via a blast furnace?
      EXP: 3
      # How long should it take to smelt via a blast furnace? (IN TICKS)
      Time: 150
    Furnace:
      # How much EXP should be earned from smelting via a furnace?
      EXP: 3
      # How long should it take to smelt via a furnace? (IN TICKS)
      Time: 200
  # Should ancient debris have a chance of dropping extra scrap upon being mined?
  ScrapDrop:
    Enabled: true
    # If so, whats the max amount it can drop?
    Maximum: 4
    # If so, what chance?
    Chance: 70
  # Should ancient debris have a chance of dropping a full ingot?
  IngotDrop:
    Enabled: true
    # If so, what chance?
    Chance: 5


# IN DEVELOPMENT FEATURE
#  EXPERIMENTAL, NOT FUNTIONAL YET.
# Define which custom aspects of the plugin should be enabled
#  Note: this is for USER MADE custom aspects, NOT ONES
#   IN THE PLUGIN BY DEFAULT!
CustomAspects:
  # Should the user be able to create custom items?
  Items:
    Enabled: true
  # Should the user be able to create custom mobs?
  Mobs:
    Enabled: true
  # Should the user be able to create custom shrines?
  Shrines:
    Enabled: true
